*{
    margin:0;
   padding: 0%;
}

a{
    text-decoration: none;
    color:white;
}
body{
    font-family:'Montserrat','sans-serif';
    color:white;
    background-color: black;
    overflow: hidden;
}

.mainContainer{
    display:flex;
    height:100vh;  /*viewport*/
    padding: 0.6rem;
    
}

.sideBar{
    background-color: black;  /*color picker*/
    width:340px;
    border-radius: 1rem;  
    padding:0.4rem;  /*16px*/
    
}


.nav{
    background-color: #121212;
    border-radius: 1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100px;
    padding: 0.5rem;
}

.nav-option{
    padding:0.5rem 0.8rem;
    opacity: 0.6;
}


.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size:1.2rem;
}

.nav-option a{
    font-size:1rem;
    margin-left:0.5rem;
}

.lib-panel{
    display:flex;
    align-items: center;
    margin:0.3rem 0.4rem;
}


.lib-panel-icon{
    margin-left:20px;
    display: flex;
    opacity: 0.5;

}

.lib-panel-icon:hover{
    opacity: 1;
}

#mylibrary{
    margin-left:0.7rem;
}

.lib-panel-link{
    margin-left:10px;
}

.lib-panel-smallicon1{
    margin-left:9rem;
    opacity: 0.5;
}

.lib-panel-smallicon1:hover{
    opacity: 1;
}

.lib-panel-smallicon2{
    margin-left:2rem;
    opacity: 0.5;
}


.lib-panel-smallicon2:hover{
    opacity: 1;
}

.lib-options{
    background-color: #121212;
    border-radius: 1rem;
    display: flex;
    flex-direction:column;
}

.library{
    margin-top:0.8rem;
}


.lib-box1{
    display:flex;
    flex-direction: column;
    height: 8.5rem;
    padding:1rem 1.3rem 1rem 1.3rem;
    background-color: #232323;
    border-radius: 1rem;
    margin:0.5rem;
    border-radius:0.5rem;
}

.box1-firstpara{
    font-weight: bold;
    font-size:0.92rem;
}

.box1-secondpara{
    font-weight:400;
    font-size:0.90rem;
}

.badge{
    background-color: white;
    color:black;
    border-radius: 0.8rem;
    width:8rem;
    padding:0.5rem;
    
}

.badge:hover{
    background-color: green;
    color:black;
    
}

.lib-box2{
    display:flex;
    flex-direction: column;
    height: 10rem;
    padding:1rem 1.3rem 1rem 1.3rem;
    background-color: #232323;
    border-radius: 1rem;
    margin:0.5rem;
    border-radius:0.5rem;
}

.box2-firstpara{
    font-weight: bold;
    font-size:0.92rem;
}

.box2-secondpara{
    font-weight:400;
    font-size:0.90rem;
}



.mainContent{
    background-color: #121212;
    flex:1; /*remaining space occupied*/
    border-radius:1rem; /*16px*/
    overflow: auto; /*scroll bar*/
    padding-left:1rem ;
}

#nav-button2{
    background-color:black; 
    color:white;
}

.sticky-nav{
    position:sticky;
    top:0;
    background-color: #121212;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 1rem 1rem 0rem;
    z-index: 10;
}

.sticky-nav-icons{
    margin-left:1rem;
}

.sticky-nav-buttons{
    display:flex;
    justify-content: center;
    align-items: center;
}

#nav-button1{
    margin-right:2rem;
}

#nav-button2{
    margin-right:2rem;
}

#nav-button2:hover{
    color:black;
    background-color: red;
}

.nav-user-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
    border-radius:1rem;
    height: 2rem;
    width:2rem;
}

#nav-icon{
    margin-right:2rem;
}

.sticky-image1{
    height: 1.3rem;
    background-color: black;
    border-radius: 1rem;
    opacity: 0.5;
    
}

.sticky-image1:hover{
    opacity: 1;
    border-radius: 1.2rem;
}

.sticky-image2{
    height: 1.3rem;
    background-color: black;
    border-radius: 1rem;
    opacity:0.6;
}

.sticky-image2:hover{
    opacity:1;
}

.cards{
    background-color: #232323;
    width:10rem;
    border-radius: 0.5rem;
    padding:1rem;
    margin-left:1.5rem;
    margin-top:1rem;

}

.cards:hover{
    width:9.8rem;
    background-color: gray;
    box-shadow: 8px 0px 16px #1bd760;
    padding:0.8rem;
}

.cards-containers{
    display: flex;
    flex-wrap:wrap;
}

.cards-image{
    width:100%;
    border-radius: 0.5rem;
}

.card-headings{
    margin-top:10px;
    padding:10px 8px 10px 8px;
}

.card-title{
    padding-top:0.5rem;
    font-weight: 600;

}

.card-info{
    padding-top:0.5rem;
    opacity: 0.8;
    font-size:0.72rem;
}

.footer{
    height:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.line-area{
    border-top:1px solid white;
    opacity: 0.2;
    width:80%;
    height: 30%;
}



.musicPlayer{
    background-color: black;
    position: fixed;
    bottom:0px;
    width:100%; 
    height:72px;
    display: flex;
}

.album{
    display:flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width:25%;
    margin:1rem;
}

.album-song{

    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right:2rem;
}



.song-name{
    font-size: 0.8rem;
    font-weight: bold;
}

.song-author{
    font-size:0.6rem;
    opacity: 0.6;
}

.album-image{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image:url(./images/love_today.jpg);
    background-size:cover;
    height:3rem;
    width:3rem;
    border-radius: 0.5rem;
}

.album-heart{
    opacity: 0.6;
}

.album-heart:hover{
    opacity: 1;
}

.album-purse{
    opacity: 0.6;
}

.album-purse:hover{
    opacity: 1;
}

.player{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:75%;
    margin:1rem;
}

.player-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-play{
    margin-right:2.9rem;
}

#playing-icon{
    height:2rem;
    opacity: 1;
}

#playing-icon:hover{
    height:2.2rem;
   
}

.player-control{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.progress-bar-below{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar-below::-webkit-slider-runnable-track{
    background-color: #ddd;
    border-radius:5rem;
    height: 0.2rem;
}

.progress-bar-below::-webkit-slider-thumb{
    appearance: none;
    background-color: #1bd760;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-top:-0.4rem;
}




.player-icon-area{
    height:1rem;
    opacity: 0.6;
}

#playbutton1:hover{
    opacity: 1;
}

#playbutton2:hover{
    opacity: 1;
}

#playbutton4:hover{
    opacity: 1;
}

#playbutton5:hover{
    opacity: 1;
}

.settings{
    display:flex;
    align-items: center;
    width:25%;
    margin:1rem;
}

.settings-icon{
    margin-right:0.7rem;
    opacity: 0.6;
}

.settings-bar-below{
    display: flex;
    justify-content: center;
    align-items: center;
    width:80%;
    appearance: none;
    height:0.2rem;
    border-radius: 1rem;
    background-color:#1bd760;
}

.settings-bar-below::-webkit-slider-thumb{
    appearance: none;
    height:0.8rem;
    width:0.8rem;
    background-color: white;
    border-radius: 50%;
}
#set-icon1:hover{
    opacity: 1;
}

#set-icon2:hover{
    opacity: 1;
}

#set-icon3:hover{
    opacity: 1;
}

#set-icon4:hover{
    opacity: 1;
}

#set-icon5:hover{
    opacity: 1;
}


@media (max-width:1000px){
    .sticky-image2, #nav-button1{
        display: none;
    }
}